---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import Logo from './Logo.astro';
---

<header>
	<nav>
		<h2><a href="/"><Logo /><span class="sr-only">{SITE_TITLE}</span></a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--color-bg);
		border-bottom: 1px solid var(--color-border);
	}
	h2 {
		margin: 0;
		font-size: 1.2em;
		font-weight: 800;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
		color: var(--color-text-main);
		display: flex;
		align-items: center;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: var(--max-width);
		margin: 0 auto;
		padding: 1rem 0;
	}
	nav a {
		padding: 0.5em 1em;
		color: var(--color-text-main);
		border-bottom: 4px solid transparent;
		text-decoration: none;
		font-weight: 600;
	}
	nav a.active {
		text-decoration: none;
		color: var(--color-accent);
		border-bottom-color: var(--color-accent);
	}

	@media (max-width: 600px) {
		header {
			padding: 0 0.75em;
		}
		nav {
			padding: 0.75rem 0;
		}
		h2 {
			font-size: 1em;
		}
		nav a {
			padding: 0.5em 0.6em;
			font-size: 0.9em;
		}
	}

	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}
</style>
